import tkinter as tk
from tkinter import ttk, messagebox
import random
import string
import json
import os

FILE_NAME = "history.json"

class PasswordGeneratorApp:
    def __init__(self, root):
        self.root = root
        self.root.title("Password Generator")

        # --- Настройки ---
        self.length = tk.IntVar(value=8)
        self.use_digits = tk.BooleanVar(value=True)
        self.use_letters = tk.BooleanVar(value=True)
        self.use_symbols = tk.BooleanVar(value=False)

        # --- UI ---
        ttk.Label(root, text="Длина пароля").pack()
        self.scale = ttk.Scale(root, from_=4, to=32, variable=self.length, orient='horizontal')
        self.scale.pack()

        ttk.Checkbutton(root, text="Цифры", variable=self.use_digits).pack()
        ttk.Checkbutton(root, text="Буквы", variable=self.use_letters).pack()
        ttk.Checkbutton(root, text="Спецсимволы", variable=self.use_symbols).pack()

        ttk.Button(root, text="Сгенерировать", command=self.generate_password).pack()

        self.result = ttk.Entry(root, width=30)
        self.result.pack(pady=5)

        # Таблица истории
        self.tree = ttk.Treeview(root, columns=("password"), show="headings")
        self.tree.heading("password", text="История паролей")
        self.tree.pack()

        self.load_history()

    def generate_password(self):
        length = int(self.length.get())

        if length < 4 or length > 32:
            messagebox.showerror("Ошибка", "Длина должна быть от 4 до 32")
            return

        chars = ""

        if self.use_digits.get():
            chars += string.digits
        if self.use_letters.get():
            chars += string.ascii_letters
        if self.use_symbols.get():
            chars += string.punctuation

        if not chars:
            messagebox.showerror("Ошибка", "Выберите хотя бы один тип символов")
            return

        password = ''.join(random.choice(chars) for _ in range(length))
        self.result.delete(0, tk.END)
        self.result.insert(0, password)

        self.save_to_history(password)

    def save_to_history(self, password):
        self.tree.insert("", tk.END, values=(password,))
        data = self.get_all_passwords()

        with open(FILE_NAME, "w") as f:
            json.dump(data, f, indent=4)

    def get_all_passwords(self):
        return [self.tree.item(i)["values"][0] for i in self.tree.get_children()]

    def load_history(self):
        if os.path.exists(FILE_NAME):
            with open(FILE_NAME, "r") as f:
                data = json.load(f)
                for p in data:
                    self.tree.insert("", tk.END, values=(p,))


if __name__ == "__main__":
    root = tk.Tk()
    app = PasswordGeneratorApp(root)
    root.mainloop()
